:root{
  --blackColor: #000;
  --greenColor: #fff;
}

body {
  margin: 0;
  padding: 0;
  background: var(--blackColor);
  font-family: monospace, system-ui;
}

#root{
  height: 100%;
  width: 100%;
}

#right-side{
  font-size: 1.5em;
  font-family: Arial;
}

#app{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background: white;
}

#left-side{
  background: black;
}

#left-side, #right-side{
  border: 1px solid var(--blackColor);
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.3);
  margin: 10px;
  width: 45%;
}

#editor-title, #preview-title{
  background: lightgrey;
  position: relative;
  top: 0;
  margin: 0;
  font-size: 18px;
  text-align: center;
  padding: 10px 0;
}

#editor{
  background: var(--blackColor);
  border: 1px solid var(--blackColor);
  color: white;
  box-sizing: border-box; 
  display: flex;
  resize: none;
  height: 100%;
  width: 100%;
}

#editor, #preview{
  overflow: scroll;
  height: 80vh;
  padding: 0 20px;
}

code{
  background: lightgrey;
  color: slategrey;
  padding: 10px;
}

img{
  padding-top: 20px;
}

blockquote{
  background: rgba(150, 150, 150, .5);
  border-radius: 3px;
  margin: 10px auto;
  padding: 15px;
  text-indent: 20px;
}

@media only screen and (max-width: 768px) {
  #app{
    height: 100vh;
    width: 100%;
    flex-direction: column;
  }

  #left-side, #right-side{
    width: 85%;
  }

  #editor,  #preview{
    min-height: inherit;
    height: 40vh;
  }
}
